name: Compatibility tests 

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  compatibility_tests_macos:
    name: Execute compatibility tests
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-13
            xcode-version: "15.1"   # Swift 5.9.2
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode-version }}
      - name: Swift version
        run: swift --version
      - name: Run tests against Apple's AttributeGraph
        run: |
          swift test \
            -c debug \
            -Xswiftc -warnings-as-errors \
            --build-path .build-compatibility-test-debug
        env:
          OPENGRAPH_COMPATIBILITY_TEST: 1