name: Ubuntu 

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ubuntu_test:
    name: Execute tests on Ubuntu
    strategy:
      fail-fast: false
      matrix:
        swift_version: ["6.1.2"]
    runs-on: ubuntu-22.04
    env:
      OPENGRAPH_WERROR: 1
      OPENGRAPH_ATTRIBUTEGRAPH: 0
      OPENGRAPH_COMPATIBILITY_TEST: 0
    container: swift:${{ matrix.swift_version }}-jammy
    steps:
      - uses: actions/checkout@v4
      - name: Swift version
        run: |
          which swift && swift --version
      - name: Building and running tests in debug mode with coverage
        run: |
          swift test \
            -c debug \
            --enable-code-coverage \
            --build-path .build-test-debug
          llvm-cov show \
            -instr-profile=.build-test-debug/debug/codecov/default.profdata \
            .build-test-debug/debug/OpenGraphPackageTests.xctest \
            > coverage.txt
      - name: Building and running tests in release mode
        run: |
          swift test \
            -c release \
            --build-path .build-test-release
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
